POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_CONTAINER=1.1.1.1
POSTGRES_PORT=5432

REPO_DIRECTORY=ABS_PATH_TO_REPO_DIRECTORY
REPOSITORY=ABS_PATH_TO_REPOSITORY
CTP_PROFILES=ABS_PATH_TO_CTP_PROFILES